*.dev/
.idea
.DS_Store
*.sublime-*
.buildpath
.project
.settings/
*.dev.conf
Thumbs.db
.bash_history
src/
ibdata*
ib_logfile*
testapp/
mysql-bin.*
.subversion/
.composer/
examples/
manager/
sample/
host-manager/
ROOT/